body {
   
    background-color:white;
}

titletext{
    font-family: sans-serif;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

maintext{
    font-size: 20px;
    text-align: center;
}

header {
    background-color: #E6CD32;
    font-size: 38px;
    padding-top: 30px;
    text-align: center; 

}


.menubar {
    background-color: #E6CD32;
    overflow: hidden;
    
    
}

.menubar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 17px;
    
    
}

.menubar a:hover {
    background-color: #D3BC2D ;
    color: black;   
}

.menubar a.active {
    background-color: #ffa;
    color: black;
}

.menubar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: ghostwhite;
    overflow-x: hidden;
    
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidebar a:hover{
    color: darkorange;
    background-color: #E6CD32;
}

.main{ 
	background-color: white
	 }


