<!DOCTYPE html>

<html>
    <title>Homepage</title>
<head>  
<link rel="stylesheet" href="crafts.css">
  
    </head>   
<body>
     <header></header>
      
<div class="menubar">
    
    <a href="">Text</a>
    <a href="">Text</a>
    <a href="">Text</a>
    <a href="">Text</a>
    <a href="">Text</a>
    <input type="text" placeholder="Search..">
</div>

<div class="sidebar">
    <a> </a>
    <a href="">View Profile</a>
    <a href="">Text</a>
    <a href="">Text</a>
</div>
    
    
    
    </body>
</html>
