
<!DOCTYPE html>
{% load static%}

<html>
    
<head>  
    <title>Homepage</title>

    <link rel="stylesheet" href="{% static 'crafts.css'%}">
  
    </head>   
<body>
     <header></header>
     
<div class="menubar">
    
    <a href="">Text</a>
    <a href="">Text</a>
    <a href="">Text</a>
    <a href="">Text</a>
    <a href="">Text</a>
    <input type="text" placeholder="Search..">
</div>

<div class="sidebar">
    
    <a> </a>
    <a href="mypage.html">View Profile</a>
    <a href="messages.html">Messages</a>
    <a href="">Text</a>
</div>

<div class="main">


</div>
 </body>
</html>