
<!DOCTYPE html>


<html>
    
<head>  
    <title>Homepage</title>
    {%load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'crafts/crafts.css'%}">
  
    </head>   
<body>
     <header></header>
     
<div class="menubar">
    
    <a href="login">Login</a>
    <a href="signup">Create an Account</a>
    <a href="make_post">Make Post</a>
    <a href=""></a>
    <a href=""></a>
    <input type="text" placeholder="Search..">
</div>

<div class="main">
	{% if categories %}
		{% for posts in posts%}
			<p> {{ post.user }} {{ post.date }} </p>
			<p> {{ post.image }} </p>
			<p> {{ post.caption }} <strong> {{ post.tag }} </strong></p>
			<p> {{ post.date }} </p>
		{% endfor %}
	{% else %}
		<strong>Be the first to post!</strong>
	{% endif %}

</div>
 </body>
</html>