<html>
<head>
    <title>Log in</title>
      {%load static%}

    <link rel="stylesheet" type="text/css" href="{% static 'crafts/crafts.css'%}">
 
<link rel="stylesheet" href="crafts.css">
   
    </head>   
<body>
     <header> Log in </header>
    
   
    
  <existinguser>
    <form class="log_in" action="" method="get" name="log_in">
        
        <label for='username'>Username:</label>
        <input id="username" type="text" name="username" value="" />
        
        
        <label for='password'>Password:</label>
        <input id="password" type="text" name="password" value="" />
        <button class="submit" type="submit">Log In</button> 
        
        </form>
   </existinguser> 
    
   
   </body> 
    