<html>
    
<head>  
    <title>Messages</title>
    {%load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'crafts/crafts.css'%}">
  
    </head>   
<body>
     <header></header>
     
<div class="menubar">
    
    <a href="../">Homes</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <input type="text" placeholder="Search..">
</div>

<div class="sidebar">
    
    <a> </a>
    <a href="mypage">View Profile</a>
    <a href="userhome">Home</a>
    <a href="">Log out</a>
</div>

<div class="main">


</div>
 </body>
</html>