<!DOCTYPE html>

<html>
    
<head>  
    <title>My Home</title>
   {%load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'crafts/crafts.css'%}">
  
  
    </head>   
<body>
     <header></header>
      
<div class="menubar">
    
    <a href="">Main feed</a>
    <a href="">Likes</a>
    <a href=""></a>
    <a href="">Text</a>
    <a href="">Text</a>
    <input type="text" placeholder="Search..">
</div>

<div class="sidebar">
    
    <a> </a>
    <a href="mypage">View Profile</a>
    <a href="messages">Messages</a>
    <a href="">Log out</a>
</div>

<div class="main">


    </div>
    
    
    
    </body>
</html>